@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


*{	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{background-image: url(../background_image_full_hd.jpg);
	background-attachment: fixed;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;radius;
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	line-height:170%;
	width:94%;
	max-width: 1400px;
	margin: 1% auto;
	}


#container{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	padding: 1%;
	}
	
a:link{color:rgb(96,100,148)}
a:visited{color:rgb(96,100,148)}
a:focus{color:rgb(96,100,148)}
a:hover{color:rgb(106,0,128)}
	

		
header{order:1;
	width: 100%;
	line-height:290%;
	background-color:rgba(79,79,105,0.7);
	margin: 1% auto;
	border-radius:15px;
	color: white;
	}

header div{color:#fff}


nav{order:2;
	background-color:#ddddee;
	text-align: center;
	font-weight: bold;
	padding: 0.8%;
	margin: 1% auto;
	width:100%
}


nav li{padding:0.4%; 
	display: inline-block;
	list-style: none;}


h1,h2,h3,h4,nav,aside{text-align: center;
		font-family: 'Playfair Display', "Times New Roman", Times, serif}


aside.aside1{order:3;}
aside.aside2{order: 5; }


main{order:4;
	padding:4%;
	width: 58%;
	margin: auto 1% 1% 1%;
	background-color:rgba(244,244,255,0.9);
	text-align:justify;
}

main p{
		padding: 2%;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;}
		


footer{order:6;
	background-color:rgba(79,79,105,.8);
	padding: 2% 0;
	margin: 2% auto;
	width:100%;
	border-radius:15px;
	}
	
footer p {color:white;
	text-align: center; 
	text-shadow: 1px 1px 1px white
	}

a{text-decoration: none}

.button{display: inline-block;
	list-style: none;
	padding: 0.2em 0.7em;
	border-radius: 10px;
	background-image: -moz-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: -webkit-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: -ms-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: linear-gradient(#9999bb, #ffffff, #9999bb);
	color:black
}

.button:hover{background-image: -moz-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: -webkit-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: -ms-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);}


ul li {	list-style: none;}


fieldset{
		padding: 2%;
		}

				
textarea{height: 10em;
		width: 99%;
		border-color: #cde}	


		
input, select{padding: 2%;
			border-color: #cde;
			width: 99%;
			margin-top:1%;}
			
input[type=checkbox]{width:auto; }
			
input[type="submit"]:hover, input[type="reset"]:hover {
		background-color: black;
		color: #ded}

		
label:hover{cursor:pointer}


img{display:inline-block; 
	width:80%; 
	margin: 1% 10% ;
	transition:.6s}

img:hover{width:116%;
		position:relative;
		margin:-8%;
		z-index:10}
		
img:active{width:150%;
		position:relative;
		margin:-25%;
		z-index:10}
		

img.rotate180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)}

	
img.rotate90 {
	margin-top:15%;
	margin-bottom:15%;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)}

	
	
aside{
	background-color:rgba(244,244,255,0.9);
	padding:3% 0;
	height:100%;
	width: 20%}

		
aside li {text-align:center;
		padding: 4% 0;
		margin: 4% 0}

		
aside li b{background-color: #c9c9dd;
		padding: 2% 1%;
		display:inline-block;
		width:90%}	

		
				
		
		
@media screen and (max-width: 1024px) and (min-width: 640px)
{
	#container{display:block}
	
aside{width:27%; float:left}
	main{float:right; 
		margin-right:0;
		width:72%}
		.aside2{margin-top:1%}
	footer{clear:both}
	
	
img:hover{width:112%;
		margin:-6%;
		}
}

		
		
@media screen and (max-width: 639px) 

{

main{order: 5;
		width: 100%;
		padding: 2%;
		margin: 5px 0 0 0}
		
nav {padding: 1% 0%;
	width:100%;
	font-size: 90%}
	

/*begin aside menu*/

aside.aside1{width:48%; margin:0; padding: 1%;}
aside.aside2{width:48%; margin: 0 0 1% 4%; padding: 1%}	

aside li {text-align:center;
		padding: 2%;
		margin: 1%}
		
aside li b{padding: 0}


aside ul li {
	position: relative;   
	float: left;
	width: 98%;
	list-style: none;
}

aside ul li a {
	display: block;
	text-decoration: none;
}

aside ul li {
	background-color: #dde;
}

aside ul li a:hover {
	background-color: #eef;
}

aside ul ul {
	visibility: hidden;  
	position: absolute;
	width: 96%;
	opacity: 0;
	transition: opacity 1s; 
}



aside ul li:hover ul {   
	visibility: visible;
	opacity: 1;
	z-index:20;
	background-color:#dde
}
		
/*End aside menu*/

	
img{width:86%; margin: 1% 7%; transition:.6s}

img:hover{width:104%; margin: -2%}


fieldset, input, select{width: 99%;}
					
textarea{height: 7em;}
		
aside.aside2{	order:4;}

}
