@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


*{	padding:0;
	margin:0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	

}

body{background-image: url(../background_image_full_hd.jpg);
	background-attachment: fixed;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	line-height:170%;
	width:90%;
	max-width: 1100px;
	margin: 0 auto;
	}


#container{display:flex;
	flex-wrap: wrap;
	}
	
a:link{color:rgb(96,100,148)}
a:visited{color:rgb(96,100,148)}
a:focus{color:rgb(96,100,148)}
a:hover{color:rgb(106,0,128)}
	

header{order:1;
	width: 100%;
	line-height:250%;
	background-color:rgba(79,79,105,0.7);
	margin: 2% auto;
	border-radius:15px;
	color: white;
	}

a header{color: white}


nav{order:2;
	background-color:#ddddee;
	text-align: center;
	font-weight: bold;
	padding: 0.8%;
	margin: 0 auto 2%;
	width:100%
}


nav li{padding:0.4%; 
	display: inline-block;
	list-style: none;}


h1,h2,h3,h4,nav,aside{text-align: center;
		font-family: 'Playfair Display', "Times New Roman", Times, serif}


aside{height: 100%}
	
aside.aside1{order:3;
	background-color:rgba(244,244,255,0.9);
	width:20%;
	padding:10px;
	}

aside li {text-align:center;
		padding: 1%;
		margin: 3% 1%}

aside b {background-color:#cde;
		margin-bottom:4%;
		display:inline-block;
		width:100%}
		
main{order:4;
	padding:4%;
	width: 58%;
	margin: auto 1% 1% 1%;
	background-color:rgba(244,244,255,0.9);
	text-align:justify;
}

main p{
		padding: 2%;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;}
		

aside.aside2{order: 5;
	padding:10px;
	background-color:rgba(244,244,255,0.9);
	width: 20%;
	}


/* Clear floats after the columns 
#container:after {
    content: "";
    display: table;
    clear: both;
}*/

footer{order:6;
	background-color:rgba(79,79,105,.8);
	padding: 2% 0;
	margin: 2% auto;
	width:100%;
	border-radius:15px;
	}
	
footer p {color:white;
	text-align: center; 
	text-shadow: 1px 1px 1px white
	}

a{text-decoration: none}

.button{display: inline-block;
	list-style: none;
	padding: 0.2em 0.7em;
	border-radius: 10px;
	background-image: -moz-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: -webkit-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: -ms-linear-gradient(#9999bb, #ffffff, #9999bb);
	background-image: linear-gradient(#9999bb, #ffffff, #9999bb);
	color:black
}

.button:hover{background-image: -moz-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: -webkit-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: -ms-linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);
background-image: linear-gradient(#aa99aa, #ffffff 40%, #aa99aa);}

a.nohover {color: black}

ul li {	list-style: none;}

form{width:100%}

fieldset{width:98%;
		padding: 1%;
		margin: 1%;}
						
textarea{height: 10rem;
		padding: 1%;
		margin: 1%;
		width: 98%;
		border-color: #cde}		
		
input, select{padding: 1%;
			margin: 1%;
			border-color: #cde;
			width: 98%}
			
input[type=checkbox]{width:auto}
			
input[type="submit"]:hover, input[type="reset"]:hover {
		background-color: black;
		color: #ded}
		
label:hover{cursor:pointer}

figure{display:inline-block; width:15%;}

img{display:inline-block; 
	width:70%; 
	margin: 1% 15%;
	transition:.6s}

img:hover{width:112%;
		position:relative;
		margin:-6%;
		z-index:10}
		
img:active{width:150%;
		position:relative;
		margin:-25%;
		z-index:10}
		

img.rotate180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)}

	
img.rotate90 {
	-webkit-transform: rotate(90deg);
	margin-top:15%;
	margin-bottom:15%;
	transform: rotate(90deg)}

	
	

@media screen and (max-width: 650px) {


aside{width:100%}
aside.aside1{float:left; width:48%; margin-left:0%; padding:2%}
aside.aside2{float:right; width:48%; margin-left:4%; margin-right:0%; padding:2%}


main{order: 5;
		width: 100%;
		padding: 2%;
		margin: 3% auto}
		
nav {padding: 1%;
	font-size: 90%}
	



/*begin aside menu*/

aside ul li {
	position: relative;   
	float: left;
	width: 98%;
	list-style: none;
}

aside ul li a {
	font-weight:bold;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 2px;
}

aside ul li {
	background-color: #dde;
}

aside ul li a:hover {
	background-color: #eef;
}

aside ul ul {
	visibility: hidden;  
	position: absolute;
	width: 98%;
	opacity: 0;
	transition: opacity 1s; 
}

aside ul ul li {
	width: 98%;   
}

aside ul li:hover ul {   
	visibility: visible;
	opacity: 1;
	z-index:20;
	background-color:#dde
}
		
/*End aside menu*/


	
img{width:86%; margin: 1% 7%; transition:.6s}

img:hover{width:104%; margin: -2%}

					
fieldset, input, select{width: 99%;}
						
textarea{height: 7rem;
		width: 99%;}
		

		
aside{				width: 55%;
					background-color:rgba(244,244,255,0.9);
			}

aside.aside2{	order:4;}					
			
/*
nav li.bis650none {display:none}
*/
}





@media screen and (max-width:495px){

header{padding:1%;
		font-size: 95%;
		line-height:250%}
		
nav {padding: 2% 0.1%;
width:100%;}

nav li{padding: 0.1% 0.5%}

.button{padding: 0.2em 0.1em;}


img{width:80%; margin: 2% 10%}
}
